# Compiled Python files
__pycache__/
*.pyc

# Jupyter Notebook files
*.ipynb_checkpoints

# Virtual environment
.venv/
env/

# Package files
*.egg-info
dist/
build/

# IDE files
.idea/
*.suo
*.user
*.csproj.user
*.sln.dotSettings

# Other files
Thumbs.db
*.log
*.tmp
*.bak
*.old
cgi-bin